.Visualizer {
  margin-bottom: 50px;
  display: flex;
  align-items: flex-end;
  min-height: 300px;
}

.Heap {

}

.Rice {
  width: 55px;
  height: 20px;
  background: #f57b60;
  margin: 5px 10px;
  border-radius: 4px;
}
