.Visualizer {
  margin-bottom: 50px;
  display: flex;
  align-items: flex-end;
  min-height: 200px;
}

.Heap {

}

.Rice {
  width: 25px;
  height: 15px;
  background: #f57b60;
  margin: 5px;
  border-radius: 4px;
}
